// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

h1, h2, h3 {
	font-style:olbique;
	font-family:"Times New Roman",Georgia,Serif;
	color: #CC3232;
}


form_for .action{
	
}

li{
	font-weight: 900;
	color: #FFD801;
}
h3{
	li{
		font-size: medium;
		font-style:olbique;
		font-family:"Times New Roman",Georgia,Serif;
		color: #000000;
	}
}

p{
	b{
		font-size: medium;
		font-style:olbique;
		font-family:"Times New Roman",Georgia,Serif;
		color: #CC3232;
	}
	
}

#back{
	left: 175px;
}

#maps {
	left: 175px;
}
