// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

#form {
	width: 800px;
	height: 750px;
	background-color: #5A6351;

	margin-left: auto;
	margin-right: auto;
}

header h2 
{
	height: 110px;
	color: white;
	background: #5A5163;
	padding-left: 275px;
	padding-top: 35px;
}

header h1 
{
	height: 110px;
	color: white;
	background: #5A5163;
	padding-left: 275px;
	padding-top: 35px;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

h1, h2, h3 {
	font-style:olbique;
	font-family:"Times New Roman",Georgia,Serif;
	color: white;
}

li.close{
	a{
	font-size: medium;
	font-style:olbique;
	font-family:"Times New Roman",Georgia,Serif;
	color: #000000;
	}
}

.action{
	
}

li{
	font-weight: 900;
	color: #FFD801;
}

p{
	font-size: medium;
	font-style:olbique;
	font-family:"Times New Roman",Georgia,Serif;
	color: #000000;	
}

p{
	b{
		font-size: medium;
		font-style:olbique;
		font-family:"Times New Roman",Georgia,Serif;
		color: white;
		padding: 50px;
	}
	
}

map img{
	margin-left: auto;
	margin-right: auto;
}

#back{
	left: 100px;
}

#maps {
	left: 175px;
}
